<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8  offset-2 mt-3" >

  
    <h3>Edit Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3 mt-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control">
            
        </div>
       <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea name="listing[description]" value=""  class="form-control"><%= listing.description %></textarea>
       </div>
       <div class="mb-3">
        Original Image <br>
        <img src="<%= originalImageUrl %>" alt="" >
       </div>

        <div class="mb-3">
            <label for="image" class="form-label">image</label>
            <input type="file" name="listing[image]" class="form-control">
        </div>
        <div class="row">
       <div class="mb-3 col-md-4">
        <label for="price" class="form-label">price</label>
        <input type="number" name="listing[price]" value="<%= listing.price %>"  class="form-control">
       </div>
       <div class="mb-3 col-md-8">
        <label for="location" class="form-label">location</label>
        <input type="text" name="listing[location]" value= "<%= listing.location %>"  class="form-control">
       </div>
    </div>
        <div class="mb-3">
            <label for="country" class="form-label">country</label>
            <input type="text" name="listing[country]" value= "<%= listing.country %>"  class="form-control">
           
        </div>
        
        <button type="submit" class="btn btn-dark edit-btn">Edit</button>
        <br><br>
    </form>
</div>
</div>


